Day 4

Frozen Set

In [ ]:
a=frozenset({1,2,3})
print(a)

frozenset({1, 2, 3})

Dictionary

In [28]:
#create dic
dic={
    "name":"pratham jain",
    "course":"CSE",
    "roll no":"BETN1CS23277"
}


#add
dic["semester"]="5th Sem"

#update
dic["roll no"]=5045875

rollno=dic.get("key")

print(rollno)

print(dic)

for key in dic:
    print(key,dic[key])

for key,value in dic.items():
    print(key,value)

None
{'name': 'pratham jain', 'course': 'CSE', 'roll no': 5045875, 'semester': '5th Sem'}
name pratham jain
course CSE
roll no 5045875
semester 5th Sem
name pratham jain
course CSE
roll no 5045875
semester 5th Sem

Nested Dictionary

In [32]:
students={
    "student1": {
        "name":"pratham jain",
        "course":"CSE",
        "roll no":"BETN1CS23277"
    },
    "student2":{
        "name":"deepak sharma",
        "course":"CSE",
        "roll no":"BETN1CS21234"
    },
    "student3":{
        "name":"pankaj yadav",
        "course":"BCA",
        "roll no":"BCA2345"
    },"student4":{
        "name":"Abdul Naim",
        "course":"Electronics",
        "roll no":"EN1234"
    },
    "student5":{
        "name":"Abdul Mehta",
        "course":"EVS",
        "roll no":"EVS1234"
    }
}

print(students)
print(students["student5"]["name"])
students["student1"]["name"] = "blah blah blah"
print (students)

{'student1': {'name': 'pratham jain', 'course': 'CSE', 'roll no': 'BETN1CS23277'}, 'student2': {'name': 'deepak sharma', 'course': 'CSE', 'roll no': 'BETN1CS21234'}, 'student3': {'name': 'pankaj yadav', 'course': 'BCA', 'roll no': 'BCA2345'}, 'student4': {'name': 'Abdul Naim', 'course': 'Electronics', 'roll no': 'EN1234'}, 'student5': {'name': 'Abdul Mehta', 'course': 'EVS', 'roll no': 'EVS1234'}}
Abdul Mehta
{'student1': {'name': 'blah blah blah', 'course': 'CSE', 'roll no': 'BETN1CS23277'}, 'student2': {'name': 'deepak sharma', 'course': 'CSE', 'roll no': 'BETN1CS21234'}, 'student3': {'name': 'pankaj yadav', 'course': 'BCA', 'roll no': 'BCA2345'}, 'student4': {'name': 'Abdul Naim', 'course': 'Electronics', 'roll no': 'EN1234'}, 'student5': {'name': 'Abdul Mehta', 'course': 'EVS', 'roll no': 'EVS1234'}}

In [51]:
#use all operators in python

a=2
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

print(a and b)
print(a or b)
print(not a)

l=[1,23]

c=2
d=2

print(c is d)
print(c is not d)

print(20 in l)
print(20 not in l)

5
-1
6
0.6666666666666666
2
8
0
False
True
False
True
False
True
3
2
False
True
False
False
True

In [59]:
age=int(input("Enter your age"))

if age>20:
    print("adult")
elif age>12 and age<=20:
    print("teenager")
else:
    print("baby")

baby

In [63]:
#make a switch calculator

a=int(input("Enter first number"))
b=int(input("Enter second number"))
op=input("Enter operator")

if(op=="+"):
    print(a+b)
elif(op=="-"):
    print(a-b)
elif(op=="*"):
    print(a*b)
elif(op=="/"):
    print(a/b)
elif(op=="%"):
    print(a%b)
elif(op=="**"):
    print(a**b)
else:
    print("Invalid operator")

256